RewriteEngine On

# force ssl
# RewriteCond %{SERVER_PORT} ^80$
# RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

RewriteCond %{HTTP_HOST} ^www.lytaphim.net
RewriteRule (.*) https://lytaphim.net/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L] 

RewriteRule ^404.html$ index.php?view=404 [L]

RewriteRule ^xem/(.*).html$ index.php?view=xem&name=$1 [L]
RewriteRule ^xem/(.*).html/(.*)$ index.php?view=xem&name=$1&tap=$2 [L]